<!doctype html>
<html>
<head>
<title>𝙏𝙊𝙆𝙔𝙊𝙇𝙊𝘾𝙆𝘿𝙊𝙒𝙉</title>
<meta property="og:url" content="https://tokyolockdown.info/" />
<meta property="og:title" content="𝙏𝙊𝙆𝙔𝙊𝙇𝙊𝘾𝙆𝘿𝙊𝙒𝙉" />
<meta property="og:type" content="website" />
<meta property="og:description" content="𝙏𝙊𝙆𝙔𝙊𝙇𝙊𝘾𝙆𝘿𝙊𝙒𝙉" />
<meta property="og:locale" content="en_US" />
<meta property="og:image" content="/assets/ogp.png" />

<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
</head>
<body>
<main>
  <header class="hero">
    <img src="/assets/images/logo.svg" class="logo" />
  </header>
</main>
</body>
</html>
